<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <title>Listas de tarefas</title>
</head>

<body>
    <div class="container d-grid gap-3 mt-2">
        <%- include('partials/header') %>
        <div class="title">
            <h1><%= list && list.name %></h1>
        </div>
        <% if (typeof error !== 'undefined') { %>
            <div class="error-message">
                <%= error %>
            </div>
        <% } %>
        <form action="/saveTask/<%= list.id %>" method="POST" class="row justify-content-between gap-2 m-0">
            <input type="text" name="nameTask" class="col-auto flex-grow-1 text-light bg-transparent border border-secondary rounded">
            <button type="submit" class="btn btn-primary btn-md col-auto">Adicionar</button>
        </form>
        <% if (list && list.tasks.length > 0) { %>
        <% list.tasks.forEach(taskName => {%>
            <form method="POST" action="/tarefa/<%= list.id %>/completed/<%=taskName.id%>" 
                class="row justify-content-between gap-2 m-0 p-2 rounded 
                <%=taskName.completed ? 'bg-success' : 'border border-secondary'%>" 
                id="<%= taskName.id %>">
                <p class="col-auto flex-grow-1 text-light"><%= taskName.name %></p>
                <% if (taskName.completed === false){%>
                <button type="submit" class="btn btn-success btn-sm col-auto">concluir</button>
                <% }%>
            </form>
      <% }) %>
      <% } else { %>
          <p>Você não possui nenhuma atividade nessa lista de tarefas. Adicione uma nova tarefa abaixo</p>
      <%} %>
            <div>
                <button class="btn btn-secondary btn-md"><a href="/app">Voltar para todas as listas</a></button>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>